<section class="aboutus">
  <div class="container">
    <div class="aboutus__img">
      <img src="../img/image.png" alt="дівчина за комп'ютером" />
    </div>
    <div class="abouteus__description">
      <h1 class="abouteus__title">Хто ми такі та чим займаємось?</h1>
      <ul class="abouteus__list">
        <li class="abouteus__item">
          <p class="aboutus__issues">
            Вітчизняна організація, яка об'єднує людей за ознакою любові до
            англійської мови
          </p>
        </li>
        <li class="abouteus__item">
          <p class="aboutus__issues">
            Організовуємо спік-лекції в усіх городах України
          </p>
        </li>
        <li class="abouteus__item">
          <p class="aboutus__issues">
            Проводимо групові зайняття та тренінги з вивчення англійської
          </p>
        </li>
        <li class="abouteus__item">
          <p class="aboutus__issues">
            Займаємось корпоративними тренінгами та навчанням персоналу
          </p>
        </li>
        <li class="abouteus__item">
          <p class="aboutus__issues">
            Створюємо навчальну літературу з англійської мови власного
            видавництва
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
