<section class="articles">
  <div class="container articles__container">
    <h2 class="articles__title">Корисні статті</h2>
    <div class="article">
      <div class="article__img">
        <img src="../img/artc1.jpeg" alt="фото статті" />
        <div class="article__icon">
          <svg class="article__svg" width="16" height="16">
            <use href="../img/symbol-defs.svg#icon-papers"></use>
          </svg>
          <p class="article__iconText">Article</p>
        </div>
      </div>
      <div class="article__aspects"><span>Новини</span></div>
      <p class="article__title">
        МОН створило концепцію розвитку англійської в університетах
      </p>
      <p class="article__description">
        Міністерство освіти і науки розробило та схвалило на засідання Колегії
        МОН Концепцію розвитку англійської мови в університетах.
      </p>
      <a
        class="article__link"
        target="_blank"
        rel="noreferrer noopener"
        href="https://mon.gov.ua/ua/news/mon-stvorilo-koncepciyu-rozvitku-anglijskoyi-v-universitetah-u-dodatku-riven-v1-obovyazkova-umova-vstupu-v2-vipusku-vikladannya-profilnih-disciplin-inozemnoyu-ta-movni-skriningi"
        >Читати</a
      >
    </div>
    <div class="article">
      <div class="article__img">
        <img src="../img/artc2.jpeg" alt="фото статті" />
        <div class="article__icon">
          <svg class="article__svg" width="16" height="16">
            <use href="../img/symbol-defs.svg#icon-papers"></use>
          </svg>
          <p class="article__iconText">Article</p>
        </div>
      </div>
      <div class="article__aspects"><span>Цікаві статті</span></div>
      <p class="article__title">Корпоративне вивчення англійської мови</p>
      <p class="article__description">
        Найбільш просунуті керівники, а також HR-менеджери серйозних компаній,
        останнім часом усе більше й більше усвідомлюють необхідність загального
        розвитку вже працюючих у них співробітників, підвищення їх потенціалу й
        можливостей.
      </p>
      <a
        class="article__link"
        target="_blank"
        rel="noreferrer noopener"
        href="https://osvita.ua/languages/articles/37514/"
        >Читати</a
      >
    </div>
    <div class="article">
      <div class="article__img">
        <img src="../img/artc3.jpeg" alt="фото статті" />
        <div class="article__icon">
          <svg class="article__svg" width="16" height="16">
            <use href="../img/symbol-defs.svg#icon-video"></use>
          </svg>
          <p class="article__iconText">Video</p>
        </div>
      </div>
      <div class="article__aspects"><span>Відеоматеріал</span></div>
      <p class="article__title">Історія англійської мови</p>
      <p class="article__description">
        Cерія відеолекцій з Історії англійської мови, в якій говориться про те,
        які діалекти германських мов лягли в основу давньоанглійської мови, які
        давні германські та негерманські племена залишили свій слід в історії
        Англії та її жителів..
      </p>
      <a
        class="article__link"
        target="_blank"
        rel="noreferrer noopener"
        href="https://www.youtube.com/watch?v=7rGvEI0VP_U"
        >Дивитись</a
      >
    </div>
  </div>
</section>
