<div class="burger-menu">
  <nav class="navigation-burger">
    <ul class="nav__list nav__list-fix">
      <li class="nav__item">
        <a class="nav__link nav__link-fix" href="#">Про спільноту</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link-fix" href="#">Наші спікери</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link-fix" href="#">Організація заходів</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link-fix" href="#">Найближчі лекції</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link-fix" href="#">Корисні статті</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link-fix" href="#">Контакти</a>
      </li>
    </ul>
  </nav>
  <button class="header__button header__button-fix">
    Отримати консультацію
  </button>
</div>
