<div class="burger-menu">
  <nav class="burger-menu__navigation">
    <ul class="burger-menu__navList">
      <li><a class="burger-menu__navItem" href="#">Компанія</a></li>
      <li><a class="burger-menu__navItem" href="#">Продукція</a></li>
      <li><a class="burger-menu__navItem" href="#">Статті</a></li>
      <li><a class="burger-menu__navItem" href="#">Рішення</a></li>
      <li><a class="burger-menu__navItem" href="#">Контакти</a></li>
    </ul>
  </nav>
  <a class="burger-menu__tel" href="tel:+0800000000" class="burger-menu__tel"
    >0 (800) 00-00-00</a
  >
  <div class="burger-menu__langs">
    <div class="burger-menu__langUA languageselected">UA</div>
    <div class="burger-menu__langRU">RU</div>
  </div>
</div>
