<div class="burger-menu">
  <nav class="burger-menu__navigation">
    <ul class="burger-menu__navList">
      <li class="burger-menu__navItem">Компанія</li>
      <li class="burger-menu__navItem">Продукція</li>
      <li class="burger-menu__navItem">Статті</li>
      <li class="burger-menu__navItem">Рішення</li>
      <li class="burger-menu__navItem">Контакти</li>
    </ul>
  </nav>
  <a class="burger-menu__tel" href="tel:+0800000000" class="burger-menu__tel"
    >0 (800) 00-00-00</a
  >
  <div class="burger-menu__langs">
    <div class="burger-menu__langUA languageselected">UA</div>
    <div class="burger-menu__langRU">RU</div>
  </div>
</div>
