<section class="eventOrg">
  <div class="container">
    <h2 class="eventOrg__title">Як ми організовуємо лекції?</h2>
    <div class="eventOrg__wrapper">
      <div class="eventOrg__description">
        <p class="eventOrg__textFirst">
          Мозговий штурм в поєднанні із відпочинком
        </p>
        <p class="eventOrg__textSecond">
          Масові спік-лекції організовуються два рази на місць в найбільших
          містах кожної області. Лекції проходять за рахунок спонсорської
          допомоги та добровільних донатів учасників. Учасникам лекцій надається
          іміджева продукція організації, а також створюється зона відпочинку з
          кавою та печівом. В якості лекторів запрошуються науковфі-філологи,
          володільці шкіл вивчення іноземних мов, керівники вищих навчальних
          закладів. Такий формат комунікації є не просто масовим освітнім
          заходом, але й функціональним хабом для заведення нових знайомств.
        </p>
      </div>
      <div class="eventOrg__img">
        <img src="../img/illustration (1).png" alt="людина за комп'ютером" />
      </div>
    </div>
  </div>
</section>
