<section class="lectures">
  <div class="container lectures__container">
    <div class="lectures__item">
      <div class="lectures__date">
        <p class="lectures__dateNumber">11, 28</p>
        <p class="lectures__day">Червня</p>
        <p class="lectures__time">10:00 - 15:00</p>
      </div>
      <div class="lectures__description">
        <p class="lectures__secription">
          Англійська мова в ретроспективі історії Британського півострову
        </p>
        <p class="lectures__orgSubject">ХНУ ім.Каразіна</p>
        <p class="lectures__place">Харків</p>
      </div>
      <button class="lectures__button">Записатисть на лекцію</button>
    </div>
    <div class="lectures__item">
      <div class="lectures__date">
        <p class="lectures__dateNumber">13, 25</p>
        <p class="lectures__day">Липня</p>
        <p class="lectures__time">10:00 - 15:00</p>
      </div>
      <div class="lectures__description">
        <p class="lectures__secription">
          Сучана англійська та її локальні варіації
        </p>
        <p class="lectures__orgSubject">КНУ ім.Тараса шевченка</p>
        <p class="lectures__place">Київ</p>
      </div>
      <button class="lectures__button">Записатисть на лекцію</button>
    </div>

    <div class="lectures__item">
      <div class="lectures__date">
        <p class="lectures__dateNumber">12, 25</p>
        <p class="lectures__day">Серпня</p>
        <p class="lectures__time">10:00 - 15:00</p>
      </div>
      <div class="lectures__description">
        <p class="lectures__secription">
          Корпоративна англійська. Як навчити персонал говорити іноземною мовою
        </p>
        <p class="lectures__orgSubject">IT-hunt (Signal Event Hall)</p>
        <p class="lectures__place">Львів</p>
      </div>
      <button class="lectures__button">Записатисть на лекцію</button>
    </div>
  </div>
</section>
