<header>
  <div class="container">
    <div class="header__mobile">
      <div class="header__logo">
        <img
          src="../img/logoMob 1.png"
          width="91"
          height="18"
          alt="Логотип сайту"
        />
      </div>
      <div class="header__buttons">
        <button class="header__connection">Зв'язатись</button>
        <div class="header__ButonOpen">
          <svg class="header__svg" width="30" height="15">
            <use href="../img/symbol-defs.svg#icon-BurgerOpen"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>
