<header>
  <div class="header__wrapper">
    <div class="header__logo">
      <p class="header__lText">English is simple</p>
      <svg
        class="header__lSVG"
        width="30"
        height="40"
        fill="red"
        style="margin-left: 3px"
      >
        <use href="../img/symbol-defs.svg#icon-logoIcon"></use>
      </svg>
    </div>
    <nav class="navigation">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Про спільноту</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Наші спікери</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Організація заходів</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Найближчі лекції</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Корисні статті</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">Контакти</a></li>
      </ul>
    </nav>
    <button class="header__button">Отримати консультацію</button>
    <div class="burger-Button">
      <input
        type="checkbox"
        href="#"
        class="menu-open"
        name="menu-open"
        id="menu-open"
      />
      <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span>
      </label>
    </div>
  </div>
</header>
