<header>
  <div class="container">
    <div class="header__mobile">
      <div class="header__logo">
        <img
          src="./img/logoMob 1.png"
          width="91"
          height="18"
          alt="Логотип сайту"
        />
      </div>
      <div class="header__buttons">
        <button class="header__connection">Зв'язатись</button>
        <div class="header__ButonOpen">
          <svg class="header__svg" width="30" height="15">
            <use href="./img/symbol-defs.svg#icon-BurgerOpen"></use>
          </svg>
          <svg class="header__svgClose visually-hidden" width="30" height="25">
            <use href="./img/symbol-defs.svg#icon-BurgerClose"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="header__desktop">
      <div class="header__logo">
        <img
          src="./img/logoDesk.png"
          width="146"
          height="30"
          alt="Логотип сайту"
        />
      </div>
      <div class="header__navigation">
        <nav class="navigation">
          <ul class="navigation__list">
            <li><a class="navigation__item" href="#">Компанія</a></li>
            <li><a class="navigation__item" href="#">Продукція</a></li>
            <li><a class="navigation__item" href="#">Статті</a></li>
            <li><a class="navigation__item" href="#">Рішення</a></li>
            <li><a class="navigation__item" href="#">Контакти</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__contats">
        <p class="header__tel">0 (800) 00-00-00</p>
        <button class="header__button">Зв’язатись</button>
        <div class="burger-menu__langs">
          <div class="burger-menu__langUA languageselected"><p>UA</p></div>
          <div class="burger-menu__langRU"><p>RU</p></div>
        </div>
      </div>
    </div>
  </div>
</header>
