<section class="hero">
  <div class="container">
    <div>
      <div class="hero__elementsWrapper">
        <p class="hero__text">
          Приєднуйся до нас та вчи англійську легко із однодумцями та приймай
          участь у наших заходах
        </p>
        <button class="hero__button">Не зволікай - записуйся!</button>
      </div>
      <img
        class="hero__img"
        src="../img/illustration.png"
        alt="дівчина за комп'ютером"
      />
    </div>
    <div class="hero__stats">
      <div>
        <p class="hero__numberTitle">300+</p>
        <p class="hero__statDescription">Проведених конференцій</p>
      </div>
      <div class="circle"></div>
      <div>
        <p class="hero__numberTitle">85+</p>
        <p class="hero__statDescription">Спікерів</p>
      </div>
      <div class="circle"></div>
      <div>
        <p class="hero__numberTitle">500+</p>
        <p class="hero__statDescription">Локацій для заходів по Україні</p>
      </div>
      <div class="circle"></div>
      <div>
        <p class="hero__numberTitle">12</p>
        <p class="hero__statDescription">Місяців активності протягом року</p>
      </div>
    </div>
  </div>
</section>
