<section class="hero">
  <div class="container">
    <h1>Hero</h1>
    <div class="hero__elements">
      <div class="hero__info">
        <h2 class="hero__title">Meltem</h2>
        <p class="hero__text">
          Meltem - це гарантовано якісне вентиляційне обладнання від німецького
          заводу.
        </p>
        <button class="hero__button">Продукція</button>
      </div>
      <div class="hero__img">
        <img src="../img/MainPNMob.png" alt="приклад продукції" />
      </div>
      <div class="hero__secondInfo">
        <p class="hero__description">Відцентровий витяжний вентилятор</p>
        <p class="hero__product">Meltem V-II 30-N</p>
        <button class="hero__buttonDetails">Детальніше</button>
      </div>
      <div class="cookies__popup visually-hidden">
        <p class="cookies__info">
          Використовуючи цей сайт, ви даєте згоду на роботу з файлами
          <a class="cookies__link" href="#">сookies</a>.
        </p>
        <button class="cookies__button">Згоден</button>
      </div>
    </div>
  </div>
</section>
