<div class="bacdrop">
  <div class="modalWindov">
    <svg class="modalWindov__svg" width="15" height="15">
      <use href="../img/symbol-defs.svg#icon-ModalCloseMob"></use>
    </svg>
    <div class="modalWindov__info">
      <h2>Залишайте заявку</h2>
      <p>Ми зв’яжемося з вами найближчим часом.</p>
    </div>
    <div>
      <form name="modal-form">
        <!-- <label for="name-area" class="modal__lable">Ваше ім’я*</label> -->
        <!-- <div class="modal__input-wrapper">
          <input
            name="place-for-name"
            type="text"
            id="name-area"
            placeholder="Ваше ім’я*"
            class="modal__input"
          />
        </div> -->
        <input
          name="place-for-name"
          type="text"
          id="name-area"
          placeholder="Ваше ім’я*"
          class="modal__input"
        />
        <!-- <label for="tel-area" class="modal__lable">+380-00-000-00-00*</label> -->
        <div class="modal__input-wrapper">
          <input
            name="place-for-tel"
            type="tel"
            id="tel-area"
            placeholder="+380-00-000-00-00*"
            class="modal__input"
          />
          <div class="urkFlag"></div>
        </div>

        <button type="submit" class="modal__submit">Відправити</button>
      </form>
      <p>
        Натискаючи кнопку “Надіслати”, ви погоджуєтесь з Правилами обробки
        персональних даних.
      </p>
    </div>
  </div>
</div>
