<section class="ourSpeakers">
  <div class="container">
    <h2 class="ourSpeakers__title">Наші спікери</h2>
    <div class="speaker">
      <div class="speaker__photo">
        <img src="../img/photoFake.png" alt="фото спікера" />
      </div>
      <div class="speaker__description">
        <div class="speaker__positionBox">
          <p class="speaker__position">посада</p>
        </div>
        <p class="speaker__topick">Тема лекції</p>
      </div>
    </div>
    <div class="speaker">
      <div class="speaker__photo">
        <img src="../img/photoFake.png" alt="фото спікера" />
      </div>
      <div class="speaker__description">
        <div class="speaker__positionBox">
          <p class="speaker__position">посада</p>
        </div>
        <p class="speaker__topick">Тема лекції</p>
      </div>
    </div>
    <div class="speaker">
      <div class="speaker__photo">
        <img src="../img/photoFake.png" alt="фото спікера" />
      </div>
      <div class="speaker__description">
        <div class="speaker__positionBox">
          <p class="speaker__position">посада</p>
        </div>
        <p class="speaker__topick">Тема лекції</p>
      </div>
    </div>
    <div class="speaker">
      <div class="speaker__photo">
        <img src="../img/photoFake.png" alt="фото спікера" />
      </div>
      <div class="speaker__description">
        <div class="speaker__positionBox">
          <p class="speaker__position">посада</p>
        </div>
        <p class="speaker__topick">Тема лекції</p>
      </div>
    </div>
  </div>
</section>
