.hero {
  background: linear-gradient(#f7f9fb4d, #d4e3ec4d);
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (min-width: 1440px) {
  .header__container {
    padding: 80px 80px 80px 60px;
  }
}
.hero__elements {
  position: relative;
}
@media (min-width: 1440px) {
  .hero__elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
h1 {
  display: none;
}
.hero__info {
  max-width: 200px;
  margin-bottom: 19px;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .hero__info {
    margin: 0;
    max-width: 340px;
  }
}
.hero__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
  color: #333333;

  margin-bottom: 10px;
}
@media (min-width: 1440px) {
  .hero__title {
    font-size: 50px;
    margin-bottom: 30px;
  }
}
.hero__text {
  font-size: 13px;
  font-weight: 300;
  line-height: 130%;
  color: #333333;
  text-align: start;

  margin-bottom: 15px;
}
@media (min-width: 1440px) {
  .hero__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.hero__button {
  width: 100px;
  height: 35px;
  background: #859ba6;
  border: 2px solid #859ba6;
  border-radius: 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #fff;
}
.hero__button:hover {
  color: #859ba6;
  background: transparent;
}
@media (min-width: 1440px) {
  .hero__button {
    width: 140px;
    height: 45px;
    font-size: 16px;
    line-height: 19px;
  }
}
.hero__img {
  margin: 0 auto;
  max-width: 560px;
  max-height: 385px;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .hero__img {
    margin: 0;
  }
}
.hero__secondInfo {
  max-width: 160px;
  margin-left: auto;
}
@media (min-width: 1440px) {
  .hero__secondInfo {
    margin: 0;
    max-width: 320px;
    transform: translateY(70%);
  }
}
.hero__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
  color: #333333;
  text-align: start;

  margin-bottom: 5px;
}
@media (min-width: 1440px) {
  .hero__description {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.hero__product {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: #333333;
  text-align: start;
  margin-bottom: 15px;
}
@media (min-width: 1440px) {
  .hero__product {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.hero__buttonDetails {
  width: 100px;
  height: 35px;
  background: transparent;
  border: 2px solid #859ba6;
  border-radius: 5px;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #859ba6;
}
.hero__buttonDetails:hover {
  background: #859ba6;
  border: 2px solid #859ba6;

  color: white;
}
@media (min-width: 1440px) {
  .hero__buttonDetails {
    width: 140px;
    height: 45px;
  }
}
.cookies__popup {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  max-width: 460px;
  width: 100%;
}
@media (min-width: 1440px) {
  .cookies__popup {
    bottom: -35%;
  }
}
.cookies__info {
  max-width: 160px;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
}
@media (min-width: 1440px) {
  .cookies__info {
    max-width: 280px;
    font-size: 16px;
  }
}
.cooki .cookies__link {
  color: #859ba6;
  text-decoration: underline;
}
.cookies__button {
  width: 70px;
  height: 35px;
  background: transparent;
  border: 2px solid #859ba6;
  border-radius: 5px;
  text-align: center;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #859ba6;
}
.cookies__button:hover {
  background: #859ba6;
  border: 2px solid #859ba6;

  color: white;
}
@media (min-width: 1440px) {
  .cookies__button {
    width: 100px;
    height: 45px;
    font-size: 16px;
  }
}
