@import url('./reset.css');
@import url('./header.css');
@import url('./burgerButton.css');
@import url('./burgerMenue.css');
@import url('./hero.css');
@import url('./aboutUs.css');
@import url('./ourSpeakers.css');
@import url('./eventOrganisation.css');
@import url('./feathireLectures.css');
@import url('./articlers.css');
@import url('./footer.css');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
}
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) and (max-width: 1260) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}
@media (min-width: 1261px) {
  .container {
    max-width: 1300px;
    width: 100%;
  }
}
.bg-fix__wrapper {
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
