.swiper {
  margin-bottom: 60px;
}
.swiper-pagination {
  position: static !important;
}

.swiper-pagination-bullet {
  height: 3px !important;
  width: 30% !important;
  display: inline-block;
  border-radius: 5px !important;
}
